<!DOCTYPE html>
<html>
    <head>

        <meta charset="uft-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">

        <title>Portfólio</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>

        <div>
            <h1>
                Portfólio Pessoal <b>
                </b>
            </h1>
            <h2>
                Davi Simões Lucas <b>
                </b>
            </h2>
            <p>Sou graduando em Engenharia Química pela Escola de Engenharia da Universidade de São Paulo.</p>
            <p>Além disso, grande aptidão para estudos na área da Ciência da Computação</p>
        </div>

    </body>
</html>
